.backWhite{
    background-color: white;
    align-items: center;
    text-align: center;
}

.blueBar{
    height:45px;
    background-color: #0c90dc;
}

.blackH1 {
    color: black;
    margin-bottom: 70px;
}
.container{
    display: flex;
    margin: 0 5%;
    gap: 20px;
    text-align: left;
    align-items: center;
    justify-content: center;
}
.container p{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttonDiv{
    padding: 25px;
}

.buttonEgreso{
    width: 350px;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    background-color: #a6a6a6;
    color: #553d27;
    border: none;
    cursor: pointer;
}

.buttonLogout{
    width: 120px;
    padding: 8px;
    background-color: #a6a6a6;
    color: #553d27;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 600;
}

.infoDiv{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ramoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.ramo{
    background-color: #0c90dc;
    width: 450px;
    border-radius: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 20px;
    text-align: center;
}

.ramo h2{
    color: white;
    margin-bottom: 15px;
}

.ramo p{
    color: #e7e7e7;
    margin-top: 0;
    margin-bottom: 5px;
}