.mallaContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 20px;
    background-color: #0c90dc;
    border-radius: 8px;
    overflow-x: auto;
}

.nivelColumn {
    flex: 0 0 250px;
    background-color: #e4e6eb;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.nivelColumn h3 {
    text-align: center;
    margin-top: 0;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 8px;
}

.ramosList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ramoCard {
    background-color: #fffFff;
    border-radius: 6px;
    padding: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin: 10px;
    border-left: 5px solid transparent;
}

.ramoCard:hover {
    transform: translateY(-2px);
    background-color: #d4f0f6;
}

.ramoNombre {
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 4px 0;
    color: #050505;
}

.ramoCodigo {
    font-size: 12px;
    color: #65676b;
    margin: 0 0 8px 0;
}

.ramoCreditos {
    font-size: 12px;
    color: #0c90dc;
    margin: 0;
    font-weight: 600;
}

.statusPendiente {
    border-left-color: #a6a6a6; /* Un gris neutro para los pendientes */
}

.statusAprobado {
    background-color: #e6f4ea; /* Fondo verde claro */
    border-left-color: #34c759; /* Borde verde oscuro */
}

.statusInscrito {
    background-color: #e0f2fe; /* Fondo azul claro */
    border-left-color: #0c90dc; /* Borde azul oscuro */
}

.statusReprobado {
    background-color: rgb(243, 149, 149);
    border-left-color: red;
}