.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f8f9fa;
}

@media (prefers-color-scheme: dark) {
  .layout {
    background: rgb(0, 3, 41);
  }
}
.container {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .content {
    padding: 1rem;
  }
}