html, body, #root{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gradient-background {
    background: linear-gradient(180deg, #0c90dc, #0c90dc, #0c6ea6, #181818);
    background-size: 180% 120%;
    animation: gradient-animation 18s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;;

}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    color: white;
    margin: 70px;
    margin-bottom: 40px;
    font-size: 50px;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.appMain {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.appFooter {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}